
<!DOCTYPE html>  
<html lang="en">  
  <head>
    <title>RecipeApp | Recipe details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'recipes/images/recipe-book.png' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
      body{
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #eaece5;
      }      
    </style>
  </head> 
  <body>
    <ul>
      <li><a href="{% url 'recipes:list' %}">All Recipes</a></li>
      <li><a href="{% url 'recipes:records' %}">Records</a></li>
      <li><a href="{% url 'recipes:create' %}">Create</a></li>
      <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
      <h1 style="text-align: center">Recipe details</h1>        {% comment%} HTML tag for heading  {% endcomment%}
      
      {% if object.pic %}
        <img src="{{object.pic.url}}" width="350" height="350" />
      {% endif %}

      <h2>Details: {{object.name}}</h2>
      
      <b>Recipe Name: </b> {{object.name}}  <br>
      
      <b>Cooking Time (min): </b> {{object.cooking_time}} <br>
      
      <b>Ingredients: </b> {{object.ingredients}} <br>
      
      <b>Difficulty: </b> {{ object.difficulty|capfirst }} <br>
      
  </body>
</html>